.clock {
    width: 50vh;
    height: 50vh;
    border: 2px solid black;
    border-radius: 50%;
}

.clock, .center, .hour_mark, .hands {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.center {
    width: 2vh;
    height: 2vh;
    z-index: 1;
    border-radius: 50%;
    background-color: black;
}
.hour_mark {
    color:  red;
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hands {
    transform-origin: 0 0;
}

#hour_hand {
    width: 15vh;
    height: 1.5vh;
    background: black;
}

#minute_hand {
    width: 18vh;
    height: 0.7vh;
    background: cyan;
}

#second_hand {
    width: 20vh;
    height: 0.3vh;
    background: yellow;
}

